@mixin circle{
  width: 0.5em;
  height: 0.5em;
  animation-name: movecircle;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
}
@mixin opacity($colour){
  background-color: darken($colour, 2);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin accueil_background_menu($colour){
  background-color: $colour;
  height: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
}
@mixin background_menu($colour){
  background-color: $colour;
  box-shadow: 0 0 8px 1px $box_shadow ;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  padding-bottom: 1rem;
}