$primary_color : #569C87;
$secondary_color : #E9C353;

header,footer,.prochainement{
  background-color: $primary_color;
  a{
    text-decoration: none;
    color: $secondary_color;
  }
}
body{
  margin: 0;
}
.titre h1{
  margin: 0;
  color: $secondary_color;
  text-align: center;
  font-size: 2.6em;
}
.prochainement{
  width: 60%;
  height: 60px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px
}
.footer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  a{
    margin: 5px;
  }
}
.menu_global{
  display: flex;
  flex-direction: column;
}
.menu {
  box-shadow: 0 0 8px 1px #a2a5a4;
  width: 80%;
  height:400px;
  margin: 20px auto;
  text-align: center;
  a{
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
  }
  span{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

   &__note {
     background-color: #fcdfdb;
     height: 100%;
     align-items: center;
     img{
       width: 20%;
       height: auto;
     }
     h1{
       color: #3c1218;
       font-family: devonshire, serif;
       font-weight: normal;
     }
     h2{
       color:#3c1218;
       font-family: sriracha, serif;
       font-weight: normal;
     }
   }

   &__chic {
     background-color: #fff5fe;
     height: 100%;
     align-items: center;
     h1{
       font-family: Lateef, serif;
       background-image: linear-gradient(155deg, #D8852E,  #905BFD);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
     h2{
       font-family: 'Libre Baskerville', serif;
       color:#D8852E ;
     }
   }

   &__delice {
     background-color: #f9f9f9;
     height: 100%;
     align-items: center;
     h1{
       font-family: 'Dancing Script', serif;
       font-weight: normal;
       background-image: linear-gradient(50deg, #0431DF,  #0887FB);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
     h2{
       font-family: 'Kalam', serif;
       font-weight: normal;
       color: #0887FB;
     }
   }

   &__palette {
     background-color: #fdfffd;
     height: 100%;
     align-items: center;
     h1{
       font-family: 'Kaushan script', serif;
       font-weight: normal;
       background-image: linear-gradient(100deg, #3D9139,  #BFFF7E);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
     h2{
       font-family: 'Kalam', serif;
       font-weight: normal;
       color: #72BF56;
     }
   }
 }