@keyframes movecircle {
  from {
    transform: translateY(0.3em);
  }
  100% {
    transform: translateY(-0.3em);
  }
}
@keyframes wiggle {
  from {
    transform: translateX(0);
  }
  100% {
    transform: translateX(6px);
  }
}
body {
  margin: 0;
}

main {
  margin-bottom: 3.5rem;
}

.titre {
  background-color: #569C87;
}
.titre h1 {
  margin: 0;
  color: #E9C353;
  text-align: center;
  font-size: 2.6em;
}
.titre h1 a {
  text-decoration: none;
  color: #E9C353;
}

.prochainement {
  width: 60%;
  height: 60px;
  margin: 0 auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #569C87;
}
.prochainement a {
  text-decoration: none;
  color: #E9C353;
}
.prochainement__circle1 {
  padding: 0 2px 0 5px;
  width: 0.5em;
  height: 0.5em;
  animation-name: movecircle;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
}
.prochainement__circle2 {
  padding: 2px;
  width: 0.5em;
  height: 0.5em;
  animation-name: movecircle;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
  animation-delay: 300ms;
}
.prochainement__circle3 {
  padding: 2px;
  width: 0.5em;
  height: 0.5em;
  animation-name: movecircle;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
  animation-delay: 600ms;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  background-color: #569C87;
  z-index: 1;
}
.footer__text {
  text-decoration: none;
  color: #E9C353;
  margin: 5px;
}
.footer__text:hover {
  animation-name: wiggle;
  animation-duration: 150ms;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

.affiche_global {
  display: flex;
  flex-direction: column;
}

.affiche {
  box-shadow: 0 0 8px 1px #a2a5a4;
  width: 80%;
  height: 400px;
  margin: 20px auto;
  text-align: center;
}
.affiche__lien {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}
.affiche__lien span:hover {
  transform: scale(1.2);
  transition: transform 500ms ease-in-out;
}
.affiche span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.affiche__note {
  background-color: #fcdfdb;
  height: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
}
.affiche__note img {
  width: 20%;
  height: auto;
}
.affiche__note h1 {
  color: #3c1218;
  font-family: "devonshire", serif;
  font-weight: normal;
}
.affiche__note h2 {
  color: #3c1218;
  font-family: "sriracha", serif;
  font-weight: normal;
}
.affiche__note:hover .affiche__note__bg {
  opacity: 1;
}
.affiche__note__bg {
  background-color: #fbd7d2;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.affiche__chic {
  background-color: #fff5fe;
  height: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
}
.affiche__chic h1 {
  font-family: "Lateef", serif;
  background-image: linear-gradient(155deg, #D8852E, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.affiche__chic h2 {
  font-family: "Libre Baskerville", serif;
  color: #D8852E;
}
.affiche__chic:hover .affiche__chic__bg {
  opacity: 1;
}
.affiche__chic__bg {
  background-color: #ffebfd;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.affiche__delice {
  background-color: #f9f9f9;
  height: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
}
.affiche__delice h1 {
  font-family: "Dancing Script", serif;
  font-weight: normal;
  background-image: linear-gradient(50deg, #0431DF, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.affiche__delice h2 {
  font-family: "Kalam", serif;
  font-weight: normal;
  color: #0431DF;
}
.affiche__delice:hover .affiche__delice__bg {
  opacity: 1;
}
.affiche__delice__bg {
  background-color: #f4f4f4;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.affiche__palette {
  background-color: #fdfffd;
  height: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
}
.affiche__palette h1 {
  font-family: "Kaushan script", serif;
  font-weight: normal;
  background-image: linear-gradient(100deg, #3D9139, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.affiche__palette h2 {
  font-family: "Kalam", serif;
  font-weight: normal;
  color: #3D9139;
}
.affiche__palette:hover .affiche__palette__bg {
  opacity: 1;
}
.affiche__palette__bg {
  background-color: #f3fff3;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nom_restaurant {
  text-align: center;
}

.note {
  background-color: #fcdfdb;
  box-shadow: 0 0 8px 1px #a2a5a4;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  color: #3c1218;
}
.note h1, .note h3 {
  font-weight: normal;
  font-family: "devonshire", serif;
  margin: 0.1rem 0 0.1rem 0;
}
.note__header {
  padding-top: 1rem;
}
.note__header img {
  width: 15%;
  height: auto;
}
.note li {
  list-style-type: none;
  font-family: "Kalam", serif;
  font-size: 0.8em;
}
.note ul {
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}
.note__titre {
  display: flex;
  justify-content: space-around;
}
.note__titre img {
  width: 25%;
}
.note__bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.note__bottom img {
  width: 10%;
  margin-right: 0.5rem;
}
.note__bottom h1 {
  font-size: 1.5em;
}

.palette {
  font-family: "Kaushan script", serif;
  font-weight: normal;
  background-color: #fdfffd;
  box-shadow: 0 0 8px 1px #a2a5a4;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.palette h1, .palette h3 {
  margin: 0.1rem 0 0.1rem 0;
}
.palette__header {
  padding-top: 1rem;
}
.palette__header h1 {
  background-image: linear-gradient(100deg, #3D9139, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette__titre {
  display: flex;
  justify-content: space-around;
}
.palette__titre img {
  width: 25%;
}
.palette__titre h3 {
  font-family: "Kalam", serif;
  font-weight: normal;
}
.palette li {
  list-style-type: none;
  font-family: "Kalam", serif;
  font-size: 0.8em;
}
.palette ul {
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=main.css.map */
