.delice {
  @include background_menu($delice_background_color,80%);
  @include pc-only() {
    @include background_menu($delice_background_color, 60%);
  }

  h1, h3 {
    margin: 0.1rem 0 0.1rem 0;
  }

  &__header {
    h1 {
      font-family: $font5;
      @include text-gradient(map_get($deg, deg2), $delice_color_primary, $delice_color_secondary);
      @include pc-only() {
        font-size: map_get($fontsize, fontsize3);
      }
    }
    @include headerpage
  }
  &__entree {
    h3:after{
      @include traitTitreSousMenu($delice_color_primary)
    }
  }
  &__plat {
    h3:after{
      @include traitTitreSousMenu($delice_color_tertiary)
    }
  }
  &__dessert {
    h3:after{
      @include traitTitreSousMenu($delice_color_secondary)
    }
  }

  &__entree, &__plat, &__dessert {
    &__titre {
      @include positiontitresectionpage;

      img {
        width: 25%
      }
    }

    h3 {
      font-size: 1em;
      font-family: $font6;
      font-weight: normal;
      @include pc-only() {
        font-size: map_get($fontsize, fontsize2);
      }
    }
      h3:hover:after{
       transform:scaleX(1);
     }


    &__detail {
      @include positionstylelistedetailpage;
      @include tablette-only() {
        font-size: map_get($fontsize, fontsize1);
      }
      .nomPlat {
        display: flex;
        flex-direction: column;
        font-family: $font6;
        @include pc-only() {
          font-size: map_get($fontsize, fontsize1-5);
          flex-direction: row;
          justify-content: space-between;
        }
        @include tablette-only() {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}