.delice {
  @include background_menu($delice_background_color);

  h1, h3 {
    margin: 0.1rem 0 0.1rem 0;
  }

  &__header {
    h1 {
      font-family: $font5;
      @include text-gradient(map_get($deg,deg2), $delice_color_primary, $delice_color_secondary);
      @include pc-only(){
        font-size: map_get($fontsize,fontsize2-5);
      }
    }
    @include headerpage
  }

  &__entree, &__plat, &__dessert {
    &__titre {
      @include positiontitresectionpage;
      img {
        width: 25%
      }
    }

    h3 {
      font-size: 1em;
      font-family: $font6;
      font-weight: normal;
      @include pc-only(){
        font-size: map_get($fontsize,fontsize2);
      }
    }

    &__detail {
      @include positionstylelistedetailpage;
      li {
        font-family:$font6;
        @include pc-only(){
          font-size: map_get($fontsize,fontsize1-5);
        }
      }
    }
  }
}