.note {
  @include background_menu($note_background_color,80%);
  @include pc-only() {
    @include background_menu($note_background_color, 60%);
  }
  color: $note_color_primary;

  h2, h3 {
    font-weight: normal;
    font-family: $font1;
    margin: 0.1rem 0 0.1rem 0;
  }
  h2{
    @include pc-only(){
      font-size: map_get($fontsize,fontsize2-5);
    }
    @include tablette-only(){
      font-size: map_get($fontsize,fontsize2);
    }
  }

  &__header {
    @include headerpage;

    img {
      width: 10%;
      height: auto;
      @include pc-only() {
        width: 6%
      }
      @include tablette-only() {
        width: 6%
      }
    }

  }

  &__entree, &__plat, &__dessert {
    &__titre {
      @include positiontitresectionpage;
      img {
        width: 25%;
        @include pc-only(){
          width: 35%
        }
      }
      @include pc-only(){
        font-size: map_get($fontsize,fontsize1-5);
      }
      @include tablette-only(){
        font-size: map_get($fontsize,fontsize1-5);
      }
      :hover:after{
        transform:scaleX(1);
      }
      :after{
        @include traitTitreSousMenu($note_color_primary)
      }
    }
    &__detail {
      @include positionstylelistedetailpage;
      .nomPlat {
        display: flex;
        flex-direction: column;
        @include pc-only(){
          font-size: map_get($fontsize,fontsize1-5);
        }
        @include tablette-only(){
          font-size: map_get($fontsize,fontsize1-2);
        }
        font-family: $font6;
      }
    }
  }
  &__entree, &__plat {
    &__detail {
      .nomPlat {
        @include tablette-only() {
          flex-direction: row;
          justify-content: space-between;
        }
        @include pc-only() {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    img {
      width: 5%;
      margin-right: 0.5rem;
      @include pc-only(){
        width: 3%
      }
      @include tablette-only(){
        width: 3%
      }
    }

    h1 {
      font-size: 1.5em;
      @include pc-only(){
        font-size: map_get($fontsize,fontsize2);
      }
    }
  }
}