.palette {
  font-family:$font7;
  font-weight: normal;
  @include background_menu($palette_background_color);

  h1, h3 {
    margin: 0.1rem 0 0.1rem 0;
  }

  &__header {
    h1 {
      @include text-gradient(map_get($deg, deg1), $palette_color_primary, $palette_color_secondary);
      @include pc-only(){
        font-size: map_get($fontsize,fontsize2-5);
      }
    }

    @include headerpage
  }

  &__entree, &__plat, &__dessert {
    &__titre {
      @include positiontitresectionpage;
      @include pc-only(){
        font-size: map_get($fontsize,fontsize2);
      }
      img {
        width: 25%
      }
    }
    h3 {
      font-size: map_get($fontsize,fontsize1);
      font-family: $font6;
      @include pc-only(){
        font-size: map_get($fontsize,fontsize1-5);
      }
    }
    &__detail {
      @include positionstylelistedetailpage;
      @include tablette-only(){
        font-size: map_get($fontsize,fontsize1);
      }
      .nomPlat {
        display: flex;
        flex-direction: column;
        font-family: $font6;
        @include pc-only(){
          font-size: map_get($fontsize,fontsize1-5);
          flex-direction: row;
          justify-content: space-between;
        }
        @include tablette-only(){
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}