$primary_color : #569C87;
$secondary_color : #E9C353;

$note_background_color : #fcdfdb ;
$note_color_primary : #3c1218 ;

$chic_background_color : #fff5fe ;
$chic_color_primary : #D8852E ;
$chic_color_secondary : #905BFD ;
$chic_color_tertiary : #A86AB9 ;



$delice_background_color : #f9f9f9 ;
$delice_color_primary : #0431DF ;
$delice_color_secondary : #0887FB ;
$delice_color_tertiary : #0670F3 ;

$palette_background_color : #fdfffd ;
$palette_color_primary : #3D9139 ;
$palette_color_secondary : #BFFF7E ;

$box_shadow :#a2a5a4;

$font1: 'devonshire', 'serif';
$font2: 'sriracha', 'serif';
$font3: 'Lateef', 'serif';
$font4: 'Libre Baskerville', 'serif';
$font5: 'Dancing Script', 'serif';
$font6: 'Kalam', 'serif';
$font7: 'Kaushan script', 'serif';

$deg :(
  deg1 : 100deg,
  deg2 : 155deg,
  deg3 : 50deg,
);

$breakpoints : (
  tablette : 750px,
  pc : 1200px,
);
$fontsize :(
        fontsize1 : 1em,
        fontsize1-5 : 1.5em,
        fontsize2 : 2em,
        fontsize2-5 : 2.5em,
);